footer {
    background-color: black;
    color: #fff;
    padding: 1em;
    text-align: center;
  }
  
  footer nav {
    margin-bottom: 1em;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em;
  }
  
  footer p {
    font-size: 0.8em;
  }