.content {
    text-align: center;
  }
  
  .hand {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .hand img {
    max-width: 100%;
  }
  
  .header {
    margin-top: 0;
    font-size: 4em; /* Adjust the font size as needed */
  }
  
  .options-section {
    display: flex;
    flex-direction: column;
  }
  
  .options-section .top,
  .options-section .bottom {
    display: flex;
  }
  
  .options-section .top .left,
  .options-section .top .right,
  .options-section .bottom .left,
  .options-section .bottom .right {
    flex: 1;
    text-align: center;
  }
  
  .options-section .top .left img,
  .options-section .top .right img,
  .options-section .bottom .left img,
  .options-section .bottom .right img {
    max-width:min-content;
  }
  
  .options-section .top .left h2,
  .options-section .top .right h2,
  .options-section .bottom .left h2,
  .options-section .bottom .right h2 {
    margin-top: 10px;
  }
  
  .options-section .bottom{
    margin-top: 10%;
    margin-bottom: 4%;
  }