main {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    min-height: 100vh; /* Minimum height of the viewport's height */
    justify-content: space-between; /* Distribute space between children */
  }
  
  main .hero {
    display: flex;
    align-items: center; /* Aligns children vertically */
    justify-content: space-between; /* Places content and image on opposite ends */
    padding: 2em;
    background-color: white;
  }
  
  main .hero .hero-content {
    flex-basis: 35%; /* Adjust this percentage to give more space to the image */
  }
  
  main .hero .hero-image {
    flex-basis: 65%; /* Increase the flex-basis to give more space to the image */
  }
  
  main .hero .hero-image img {
    width: 50%; /* Sets the image width to take up all of the .hero-image container */
    height: auto; /* Keeps the aspect ratio */
  }
  
  main .hero .hero-content {
    flex-basis: 50%;
    text-align: left;
  }
  
  main .hero .hero-image {
    flex-basis: 100%;
    text-align: center;
    padding-right: 0px;
  }
  main .hero h1 {
    font-size: 4em;
  }
  
  main .hero .hero-image img {
    max-width: 100%; /* Makes the image as wide as the container */
    height: auto; /* Keeps the aspect ratio of the image */
    object-fit: contain; /* Ensures the image is fully visible within the frame */
  }
  
  button {
    font-size: large;
    padding: 10px 30px;
    background-color: rgb(245, 208, 0);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    display: inline-block;
    margin-left: 200px;
    transition: transform 0.3s ease;
  }

  
  button:hover {
    transform: scale(1.1);
  }
