.customervehicle-details-content {
    display: flex;
  }
  
  .customervehicle-details-mechanic-display {
    width: 275px; 
    flex-shrink: 0; 
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    height: fit-content;
  }
  
  .customervehicle-details-main {
    flex-grow: 1;
    padding: 20px;
  }
  
  .customervehicle-details-top-of-table p {
    font-size: 2em;
    margin-top: 10px; 
    margin-bottom: 0;  
    text-align: center;
    font-weight: bold;
  }
  
  
  .customervehicle-details-form-container {
    background: #f4f4f4;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px; 
    position: relative;
  }
  
  .customervehicle-details-car-image-container {
    text-align: left;
    margin-top: 20px; 
  }
  
  .customervehicle-details-car-image-container img {
    width: 375px; 
    height: auto;
  }
  
  .customervehicle-user-details-form {
    position: relative; 
  }
  
  .customervehicle-user-details-form .input-field {
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
  }
  
  .customervehicle-user-details-form label {
    color: #333;
    margin-bottom: 5px;
    display: block;
  }
  
  .customer-details-save-button-container {
    text-align: right;
    position: absolute; 
    bottom: 0px; 
    right: 20px;
  }
  
  .delete-button {
    background-color: #ff0000;
    color: black;
    padding: 10px 20px; 
    border: none; 
    border-radius: 10px; 
    margin-left: 50%; 
    cursor: pointer; 
  }
  
  .confirmation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 999; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .confirmation-box {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000; 
  }
  
  .confirmation-box button {
    margin-left: 0;
    margin-right: 20px;
  }