.slots {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    max-width: 100%;
    margin: 30px auto;
    grid-gap: 2rem;
}

.slots>div{
    background-color: #F7F7F7;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 0px 20px 0px 20px;
}

.slots>div>p{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}