/* Set up a flex container for the entire page */
.content {
    display: flex;
  }
  
  /* Sidebar styling */
  .mechanic-display {
    /* Adjust width as per your design */
    width: 250px; 
    /* Set the background color as per your design */
    background-color: #f4f4f4; 
    /* Other styles such as padding, margin, border, etc. */
    padding: 20px;
  }
  
  /* Main content styling */
  .main-content {
    flex-grow: 1;
    padding: 20px;
    /* Other styles such as margin and background color */
  }

    
  .gear-icon-container {
    text-align: center; /* Example to center the image */
  }
  
  
  
  /* User details form styling */
  .user-details-form {
    /* Add a shadow, padding, margin, and set a max-width as per your design */
    background: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px; /* Adjust based on your layout */
    max-width: 500px; /* Adjust based on your layout */
  }
  
  /* Input field styling */
  .input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Button styling */
  .save-button {
    background-color: #0044cc; /* Your primary color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Footer styling */
  footer {
    background-color: #333; /* Your footer color */
    color: white;
    padding: 10px 20px;
    text-align: center;
  }
  