<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Car Service Landing Page</title>
    <link rel="stylesheet" href="/static/css/ecp.css" />
  </head>
  <body>
    <header>
      <nav>

        <div class="left-links">
          <a href="#">About</a>
          <a href="#">Services</a>
          <a href="#">Contact</a>
        </div>

        <div class="right-links">
          <a href="#">Login</a>

          <button class="signup-button">Sign up</button>
        </div>
      </nav>
    </header>

    <main>
      <section class="hero">
        <div class="hero-content">
          <h1>Revitalize your ride with expert care.</h1>
          <button>Book now</button>
        </div>
        <!-- Assuming you have an image with the car and mechanic -->
        <div class="hero-image">
          <!-- Image of the car and mechanic goes here -->
          <img src="../static/images/car-repair.png" alt="Car Service" />
        </div>
      </section>
      <div class="reviews-container">
        <section class="review">
          <img
            src="../static/images/man1.jpg"
            alt="Profile Picture of John Serna"
            class="profile-picture"
          />
          <div class="review-content">
            <h3 class="reviewer-name">John Serna</h3>
            <p class="review-date">2 days ago</p>
            <p class="review-text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
            </p>
            <div class="star-rating">
              <span>★★★★☆</span>
              <span class="rating-number">4.5</span>
            </div>
          </div>
        </section>
        <section class="review">
          <img
            src="../static/images/woman1.jpg"
            alt="Profile Picture of Sofia"
            class="profile-picture"
          />
          <div class="review-content">
            <h3 class="reviewer-name">Sofia</h3>
            <p class="review-date">2 days ago</p>
            <p class="review-text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
            </p>
            <div class="star-rating">
              <span>★★★★☆</span>
              <span class="rating-number">4.0</span>
            </div>
          </div>
        </section>
        <section class="review">
          <img
            src="../static/images/man2.webp"
            alt="Profile Picture of Anandarensyah"
            class="profile-picture"
          />
          <div class="review-content">
            <h3 class="reviewer-name">Anandarensyah</h3>
            <p class="review-date">2 days ago</p>
            <p class="review-text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
            </p>
            <div class="star-rating">
              <span>★★★★★</span>
              <span class="rating-number">5.0</span>
            </div>
          </div>
        </section>
      </div>
    </main>
    <footer>
      <nav>
        <!-- Footer Links -->
        <a href="#">About Us</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Reviews</a>
        <a href="#">FAQ</a>
      </nav>
      <p>Based in Montreal, Canada</p>
      <p>&copy; 2023 All rights reserved. Powered by RightHandsome, Inc.</p>
    </footer>
  </body>
</html>
