<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up Page</title>
  <link rel="stylesheet" href="/css/signup.css"> <!-- Make sure this link refers to the updated CSS -->
</head>
<body>

<div class="topnav">
  <div class="topnav-centered">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Contact</a>
  </div>



  <!-- Right-aligned links -->
  <div class="topnav-right">
    <a href="#" class="login-button">Login</a>
    <button class="signup-button">Sign up</button>
  </div>
</div>



<main>
  <div class="registration-form">
    <h1>Let's Register To Get Started!</h1>
    <form th:action="@{/registration}" method="post" th:object="${customer}">

      <input id= "firstName" type="text" name="firstName" placeholder="First Name" th:field="*{firstName}" required>
      <input id="lastName" type="text" name="lastName" placeholder="Last Name" th:field="*{lastName}"required>

      <input id="username" type="text" name="username" placeholder="Username" th:field="*{username}" required autofocus="autofocus">

      <input type="email" name="email" placeholder="Email" th:field="*{email}" required>

      <input type="text" name="phoneNumber" placeholder="Phone Number" th:field="*{phoneNumber}"required>

      <input type="password" name="password" placeholder="Password" th:field="*{password}"required>

      <input type="password" name="confirm-password" placeholder="Confirm password" required>

      <button id="register" type="submit">Register</button>

    </form>
    <div class="social-login">
      <p>Or register with</p>
      <button>Facebook</button>
      <button>Google</button>
      <button>Apple</button>
    </div>
    <p>Already have an account? <a href="#" class="login-link">Login Now</a></p>
  </div>
</main>
<footer>
  <nav>
    <!-- Footer Links -->
    <a href="#">About Us</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Reviews</a>
    <a href="#">FAQ</a>
  </nav>
  <p>Based in Montreal, Canada</p>
  <p>&copy; 2023 All rights reserved. Powered by RightHandsome, Inc.</p>
</footer>
</body>
</html>
