<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
<div class="container">

    <h1>atelier mechanique Appointment Confirmed</h1>
    <br>
    <hr>
    <br>
    <h2>please remember to cancel appointment if you are unable to make it</h2>
    <br>
    <p ></p>
    <br>
    <p>For more information please contact (514) 321-3502 or send us an email at atelier.saintleonard@gmail.com</p>
    <br>
    <hr>
    <br>
    <h1>Rendez-vous confirmé à l'atelier mécanique.</h1>
    <br>
    <hr>
    <br>
    <h2>Si jamais vous pouvez pas vous présenter, n'oubliez pas d'annuler le rendez-vous, svp.</h2>
    <br>
    <p ></p>
    <br>
    <p>Pour plus d'informations, veuillez nous contacter au (514) 321-3502 ou nous envoyer un courielle à atelier.saintleonard@gmail.com</p>
</div>
</body>
</html>